body {
        font-family: "Trebuchet MS",
                     "Luxi Sans",
                     "Bitstream Vera Sans",
                     "Tahoma",
                     "Verdana",
                     "Arial",
                     "Helvetica",
                     sans-serif;
        padding: 1em;
        margin: 0;
        font-size: 100.01%;
        line-height: 1.5em;
        color: #2e3436;
        background-color: #eeeeec;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

input { 
    border: solid 1px;
    border-color: #aaa;
}

#content {
    margin: 1em 15em 0 1em;
    padding: 2em 3em 4em 1.5em;
}

pre, tt, code {
        font-family: "Bitstream Vera Sans Mono",
                     "Luxi Mono",
                     "Courier New",
                     "Courier",
                     monospace;
}

pre, tt, code, tr.changeinfo, #blogform {
        color: inherit;
        background-color: #d3d7cf;
}

pre {
        margin: 0px 96px 0px 48px;
        padding: 12px 0px 12px 0px;
}

h1, h2, h3, h4, h5, h6, dl, dt {
        font-weight: bold;
        background-color: inherit;
        color: #cc0000 !important;
}

h1, h2, h3, h4, h5, h6 {
        letter-spacing: .04em;
}


/* 
 * -----------------------------------------------------------------------------
 * Headers, footers.
 * -----------------------------------------------------------------------------
 */

.header, .changeheader {
        color: #2e3436 !important;
        background-color: #babdb6;
}
        
.header {
        height: 1.8em;
        padding: 6px 6px;
        border: 1px solid #888a85;
        margin-bottom: 4px;
        display: block;
}

.header {
        font-size: 120.01%;
        font-weight: normal;
        letter-spacing: .11em;
}

span.header {
        background-image: none !important;
        text-align: right;
}

.header { /* Optional header logo (right aligned). */
        background-image: url(http://www.gravatar.com/avatar/f41bc221bdd1d7eac760e548cb748db3);
        
        background-repeat: no-repeat;
        background-position: 99%;
}

/* 
 * -----------------------------------------------------------------------------
 * Specials.
 * -----------------------------------------------------------------------------
 */

#searchform {
        position: absolute;
        top: 25px;
        right: 90px;
}


td.changetime {
        font-style: italic;
}

td.changelog {
        font-style: normal;
        font-size: x-small;
        font-weight: bold;
}

/*
 * Attribution `div` for IkiWiki.  Use something like as follows:
 *              <div id="attribution">
 *                  This site is maintained using Joey Hess's
 *                  <a href="http://ikiwiki.info/">
 *                      <img src="ikiwiki.png" title="IkiWiki" alt="IkiWiki" />
 *                  </a>.
 *              </div>
 */     
#attribution img {
        border: 1px solid 555753;
        padding: 2px;
}
